<div class="user-menu">
  <div class="input-button">
    <input type="button" class="problem-button" value="Создать отчет" onclick="location.href='<%= reports_new_path %>'">
  </div>
</div>
<% if @report.empty? %>
  <h2 class="info">Нет отчетов для показа.</h2>
<% else %>
  <h2 class="info">Имеющиеся отчеты:</h2>
  <%= will_paginate @report, :previous_label => 'Предыдущая', :next_label => 'Следующая' %>
  <table class="request-table">
    <tr>
      <th></th>
      <th>Даты заявок</th>
    </tr>
    <% @report.each do |r| %>
      <tr>
        <td>
          <div class="input-button">
            <%= link_to 'Скачать', reports_download_url(r, :format => :xls), download: '' %>
          </div>
        </td>
        <td>
          За <%= r.month %> <%= r.year %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>