<h2 class="info">Войдите в систему, пожалуйста!</h2>
<div class="form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <span>Пароль</span><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <span>Запомнить меня</span>
              </div>
          <% end -%>

          <div class="input-button" style="margin-left: 30%; margin-top: 2%">
            <%= f.submit "Вход" %>
          </div>
      <% end %>
</div>